JENKINS_USER=admin
JENKINS_PASSWORD=admin
SSH_SERVER=your_ssh_server
BOT_TOKEN=your_bot_token
SSH_KEY="-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----"
SSH_USERNAME=root
GRAFANA_USER=grafana_user
GRAFANA_PASSWORD=grafana_password